h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

p {
  font-family:Arial;
  display:block;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  
}

/*#bet-container {

    display:flex;
    flex-direction: row;
    justify-content: centre/space-around/space-between;
}*/

input {
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  display:block;
}

button {
  display:inline;
  margin-left:auto;
  margin-right:auto;
  
  border: 2px solid #000;
	font-size: 10pt;
	font-weight: 700;
	background-color: #FFF;
	color: #000;
	-webkit-appearance: none;
	-webkit-border-radius: 0
 
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	color: black;
}
td {
	font-family: Arial, Helvetica, sans-serif;
}
a:link {	color: black; }
a:visited {	color: black; }
a:active {	color: black; }
.tiny { font-size: 8pt; }
.small { font-size: .8em; }
.nounder { text-decoration: none; }
input.text, textarea {
	border: 1px black solid;
	font-family: Arial, Helvetica,  sans-serif;
	font-size: 10pt;
}
input.button {
	border: 2px black solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #000000;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
input.button:active { background-color: #ccc; }
input.button[disabled="true"], input.button[disabled="disabled"], input.button.disabled, input.disabled { background-color: #ccc; }

div.rcm {
	position: absolute;
	font-family: Arial;
	font-size: 10pt;
	border: 1px solid black;
	background: white;
	display: none;
}

p.rcm {
   cursor: pointer;
   background-color: white;
   margin: 0px;
   padding: 0px 2px;
}

p.rcm:hover {
   background-color: #ccccff;
}
img.hand {
   cursor: pointer;
/*
   cursor: hand;
*/
   border: 0px;
   height: 30px;
   width: 30px;
}
.black,.red {
   font-weight: bold;
   color: black;
   font-size: smaller;
}
.red {
   color: red;
}
.redbold {
	color: red;
   font-weight: bold;
}
img.item {
   border: 0px;
   height: 30px;
   width: 30px;
   vertical-align: middle;
}
div.effect td.effect { font-size: 8pt; }

img { border: 0px; }
.pp > div { display: inline-block; }